main {
    width: 100%;
    height: 100%;
    padding: var(--pd-sm);
    
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

textarea {
    width: 100%;
    padding: var(--pd-md);
    background-color: var(--bg);
    color: var(--text);
    resize: none;
    border: var(--border-invisible);
    font-family: var(--font-family);
    
}

textarea:focus {
    outline: none;
    border: var(--border-invisible);
}

textarea::placeholder {
    color: var(--muted-text);
}

#note-heading-area {
    height: 2.5rem;
    width: 100%;
    padding: 0 var(--pd-md);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: var(--content-letter-spacing);
    align-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: var(--border-light);
}

#note-body-area {
    height: 100%;
    font-size: 1rem;
    line-height: var(--content-line-height);
    letter-spacing: var(--content-letter-spacing);
}